In [75]:
# importing neccessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score,confusion_matrix
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer

In [76]:
full_data=pd.read_csv('waterquality.csv')
full_data.head()

,STATION CODE,LOCATIONS,STATE,TEMP,DO,pH,CONDUCTIVITY,BOD,NITRATE_N_NITRITE_N,FECAL_COLIFORM,TOTAL_COLIFORM
0,1312,"GODAVARI AT JAYAKWADI DAM, AURNAGABAD,MAHARASHTRA",MAHARASHTRA,29.2,6.4,8.1,735.0,3.4,2.00,3.0,73.0
1,2177,GODAVARI RIVER NEAR SOMESHWAR TEMPLE.,MAHARASHTRA,24.5,6.0,8.0,270.0,3.1,2.00,72.0,182.0
2,2182,GODAVARI RIVER AT SAIKHEDA.,MAHARASHTRA,25.8,5.5,7.8,355.0,4.2,9.00,59.0,133.0
3,2179,"GODAVARI RIVER AT HANUMAN GHAT, NASHIK CITY.",MAHARASHTRA,24.8,5.5,7.8,371.0,5.6,3.55,90.0,283.0
4,2183,GODAVARI RIVER AT NANDUR- MADMESHWAR DAM.,MAHARASHTRA,25.7,5.7,7.9,294.0,3.2,2.69,45.0,132.0

In [77]:
object_cols = [col for col in list(full_data.columns) if full_data[col].dtype == "object"]
print(object_cols)

['LOCATIONS', 'STATE']

In [78]:
full_data.drop(labels=object_cols,axis=1, inplace= True)

In [79]:
full=full_data

In [80]:
def imputer(full):
    imput=SimpleImputer(strategy='mean')
    data_to_prepro=pd.DataFrame(imput.fit_transform(full))
    data_to_prepro.columns=full.columns
    return data_to_prepro

In [81]:
data_to_preprocess=imputer(full)

In [82]:
def preprocess(data):
    
    data['ndo']=data.DO.apply(lambda x:(100 if (x>=6)  
                                 else(80 if  (6>=x>=5.1) 
                                      else(60 if (5>=x>=4.1)
                                          else(40 if (4>=x>=3) 
                                              else 0)))))
    data['npH']=data.pH.apply(lambda x: (100 if (8.5>=x>=7)  
                                 else(80 if  (8.6>=x>=8.5) or (6.9>=x>=6.8) 
                                      else(60 if (8.8>=x>=8.6) or (6.8>=x>=6.7) 
                                          else(40 if (9>=x>=8.8) or (6.7>=x>=6.5)
                                              else 0)))))
    data['nco']=data.FECAL_COLIFORM .apply(lambda x:(100 if (5>=x>=0)  
                                 else(80 if  (50>=x>=5) 
                                      else(60 if (500>=x>=50)
                                          else(40 if (10000>=x>=500) 
                                              else 0)))))
    data['nbdo']=data.BOD.apply(lambda x:(100 if (3>=x>=0)  
                                 else(80 if  (6>=x>=3) 
                                      else(60 if (80>=x>=6)
                                          else(40 if (125>=x>=80) 
                                              else 0)))))
    data['nec']=data.CONDUCTIVITY.apply(lambda x:(100 if (75>=x>=0)  
                                 else(80 if  (150>=x>=75) 
                                      else(60 if (225>=x>=150)
                                          else(40 if (300>=x>=225) 
                                              else 0)))))
    data['nna']=data.NITRATE_N_NITRITE_N.apply(lambda x:(100 if (20>=x>=0)  
                                 else(80 if  (50>=x>=20) 
                                      else(60 if (100>=x>=50)
                                          else(40 if (200>=x>=100) 
                                              else 0)))))
    data['wph']=data.npH * 0.165
    data['wdo']=data.ndo * 0.281
    data['wbdo']=data.nbdo * 0.234
    data['wec']=data.nec* 0.009
    data['wna']=data.nna * 0.028
    data['wco']=data.nco * 0.281
    data['WQI']=data.wph+data.wdo+data.wbdo+data.wec+data.wna+data.wco
    data['WaterQuality']=data.WQI.apply(lambda x:(1 if (50>=x>=0) else 0) )
    #data ['WaterQuality']= data ['WaterQualitys'].map({'Unsuitable':0,'Excellent':1})
    #data.drop(labels='WaterQualitys',axis=1,inplace=True)
    features=['STATION CODE', 'TEMP', 'DO', 'pH', 'CONDUCTIVITY', 'BOD',
       'NITRATE_N_NITRITE_N', 'FECAL_COLIFORM', 'TOTAL_COLIFORM','WaterQuality']
    data_c=data[features]
    #full_train_data=data_c.copy()
    #X=full_train_data[features]
    #y=full_train_data['WaterQuality']
    #x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=32,shuffle=True, stratify=y)
    #scale= StandardScaler()
   # scale.fit(X)
    #scaled=scale.transform(X)
    
    return data_c

In [83]:
preprocessed_data=preprocess(data_to_preprocess)
preprocessed_data[29:300]

,STATION CODE,TEMP,DO,pH,CONDUCTIVITY,BOD,NITRATE_N_NITRITE_N,FECAL_COLIFORM,TOTAL_COLIFORM,WaterQuality
29,2370.0,26.6,5.8,6.9,290.00000,1.2,2.40,48.000000,628.000000,0
30,14.0,27.0,6.2,7.7,380.00000,1.2,1.56,7384.170354,170.000000,0
31,1218.0,26.6,6.1,7.4,480.00000,1.3,1.98,3.000000,432.000000,0
32,2371.0,26.8,5.9,7.0,315.00000,1.2,1.29,23.000000,1100.000000,0
33,1484.0,17.5,8.5,8.1,684.97619,0.7,0.00,7384.170354,124396.967677,0
34,1485.0,16.3,8.8,8.1,684.97619,0.7,0.00,7384.170354,124396.967677,0
35,1486.0,16.7,8.1,8.0,684.97619,1.0,0.00,7384.170354,124396.967677,0
36,1487.0,17.3,8.4,8.1,684.97619,1.0,0.00,7384.170354,124396.967677,0
37,1488.0,17.0,8.7,8.1,684.97619,0.9,0.00,7384.170354,124396.967677,0
38,1489.0,17.0,8.2,8.0,684.97619,1.1,0.00,7384.170354,124396.967677,0
39,1060.0,17.2,8.7,7.7,684.97619,1.1,0.00,7384.170354,22.000000,0
40,2725.0,21.0,6.9,7.8,684.97619,5.2,0.00,7384.170354,908.000000,0
41,1061.0,24.4,5.4,7.5,684.97619,5.3,0.00,7384.170354,1600.000000,0
42,2727.0,18.7,7.7,7.7,684.97619,2.1,0.00,7384.170354,177.000000,0
43,1062.0,23.0,9.0,7.4,242.00000,2.5,0.40,664.000000,1268.000000,0
44,2488.0,23.0,8.0,7.4,310.00000,2.7,0.10,4000.000000,630.000000,0
45,2489.0,22.0,8.2,7.5,293.00000,2.6,0.10,370.000000,610.000000,0
46,1145.0,23.0,7.8,7.4,320.00000,3.1,0.10,410.000000,630.000000,0
47,2490.0,23.0,7.3,7.5,277.00000,1.4,0.00,400.000000,610.000000,0
48,1063.0,26.9,7.9,7.9,288.00000,2.9,0.20,2200.000000,4467.000000,0
49,1066.0,26.9,7.3,7.9,276.00000,3.2,0.30,2978.000000,5078.000000,0
50,1146.0,27.0,7.9,8.2,290.00000,3.0,0.20,2333.000000,4256.000000,0
51,1067.0,27.0,7.5,8.2,307.00000,3.4,0.20,2600.000000,4856.000000,0
52,1068.0,27.0,6.3,7.7,430.00000,5.5,0.30,15889.000000,54333.000000,0
53,1147.0,22.1,8.0,7.8,213.00000,3.7,0.80,5517.000000,8250.000000,0
54,2498.0,22.1,8.2,7.8,209.00000,3.6,0.80,5158.000000,7967.000000,0
55,1046.0,24.4,8.7,8.3,385.00000,3.6,1.70,17283.000000,29500.000000,0
56,2487.0,24.5,8.4,8.3,382.00000,3.9,1.80,18333.000000,31833.000000,0
57,1049.0,24.4,8.5,8.3,404.00000,4.2,2.00,19500.000000,32417.000000,0
58,2485.0,22.4,8.4,7.7,290.00000,2.5,0.40,1567.000000,3078.000000,0
...,...,...,...,...,...,...,...,...,...,...
270,2563.0,22.3,5.6,7.4,330.00000,3.5,0.00,2000.000000,5560.000000,0
271,2565.0,24.8,7.0,7.4,184.00000,2.0,0.00,670.000000,1989.000000,0
272,2566.0,23.5,7.1,7.6,211.00000,2.0,0.00,900.000000,2175.000000,0
273,3137.0,24.2,7.1,7.4,215.00000,2.1,0.00,738.000000,1880.000000,0
274,1821.0,23.7,7.8,7.8,326.00000,2.4,0.00,1500.000000,2983.000000,0
275,2560.0,20.9,5.4,7.5,404.00000,3.3,0.00,1900.000000,5883.000000,0
276,2561.0,23.7,7.7,7.8,333.00000,2.3,0.00,1200.000000,2650.000000,0
277,3129.0,25.2,4.5,7.2,289.00000,5.3,0.00,1182.000000,3033.000000,0
278,1823.0,18.5,7.3,7.8,288.00000,2.8,0.00,1400.000000,4000.000000,0
279,1824.0,23.3,7.0,7.4,251.00000,2.5,0.00,1343.000000,3157.000000,0
280,2559.0,25.6,2.1,6.9,461.00000,8.6,0.00,3867.000000,14367.000000,1
281,3130.0,23.5,7.2,7.6,299.00000,2.2,0.00,1045.000000,2750.000000,0
282,1822.0,27.8,2.1,7.2,457.00000,11.0,0.00,5000.000000,16000.000000,1
283,3132.0,24.5,8.0,7.9,276.00000,1.7,0.00,743.000000,2333.000000,0
284,3135.0,22.6,8.4,7.9,306.00000,2.0,0.00,596.000000,1400.000000,0
285,3131.0,25.6,6.9,7.9,482.00000,1.5,2.80,7384.170354,144.000000,0
286,3119.0,22.3,7.9,7.8,300.00000,2.2,0.00,827.000000,2467.000000,0
287,3120.0,21.0,8.0,7.9,289.00000,2.1,0.00,600.000000,1650.000000,0
288,3136.0,27.8,2.1,7.3,432.00000,9.7,0.00,2850.000000,12550.000000,1
289,1023.0,22.7,5.8,7.2,640.00000,6.0,4.30,1450.000000,4073.000000,0
290,1024.0,19.0,4.8,7.6,1090.00000,22.0,3.60,30500.000000,52500.000000,0
291,1295.0,23.0,5.5,7.3,705.00000,10.0,5.00,2020.000000,5433.000000,0
292,1473.0,24.0,5.1,7.4,1375.00000,23.7,5.90,27333.000000,50333.000000,0
293,1698.0,24.7,5.5,7.4,745.00000,10.0,6.10,12167.000000,29333.000000,0
294,1699.0,25.0,5.0,7.6,975.00000,16.3,6.10,11167.000000,21667.000000,0
295,1700.0,22.0,4.9,7.7,1385.00000,27.5,7.70,42500.000000,72000.000000,0
296,1701.0,24.3,5.0,7.3,1067.00000,19.3,6.20,21467.000000,39533.000000,0
297,1702.0,23.3,5.3,7.2,970.00000,13.3,5.90,3167.000000,7133.000000,0
298,1703.0,19.5,4.9,7.7,1418.00000,21.0,4.20,28000.000000,49500.000000,0
299,1704.0,21.5,4.1,7.5,1015.00000,23.0,6.10,35000.000000,57500.000000,0

In [84]:
def splitting(data1):
    features=['STATION CODE', 'TEMP', 'DO', 'pH', 'CONDUCTIVITY', 'BOD',
       'NITRATE_N_NITRITE_N', 'FECAL_COLIFORM', 'TOTAL_COLIFORM']

    full_train_data=data1
    X1=full_train_data[features]
    y=full_train_data['WaterQuality']
    x_train,x_test,y_train,y_test=train_test_split(X1,y,test_size=0.25, shuffle=True, stratify=y, random_state=32)
    return x_train,x_test,y_train,y_test

In [85]:
x_train,x_test,y_train,y_test=splitting(preprocessed_data)

In [86]:

print(x_train.shape)

(400, 9)

In [87]:
model=RandomForestClassifier(max_depth=8, n_jobs=-1, random_state=42)

In [88]:
#pipeline =Pipeline([('scaler',StandardScaler()),('model',model)])

In [89]:
#pipeline.fit (x_train,y_train)

In [90]:
predictions=pipeline.predict(x_test)
predictions

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0], dtype=int64)

In [91]:
accuracy=pipeline.score(x_test,y_test)
print(f'The accuracy of the model is {accuracy}')

The accuracy of the model is 0.9925373134328358

In [92]:
confusionMatrix=confusion_matrix(y_test,predictions)
confusionMatrix

array([[128,   0],
       [  1,   5]], dtype=int64)

In [153]:
def predict_WQ(req, model):
    x_train,x_test,y_train,y_test=splitting(preprocessed_data)
    pipeline =Pipeline([('scaler',StandardScaler()),('model',model)])
    pipeline.fit (x_train,y_train)
    if type(req) == list:
        data_array=np.array(req).T
        trial=pd.DataFrame([req],columns=['STATION CODE', 'TEMP', 'DO', 'pH', 'CONDUCTIVITY', 'BOD',
       'NITRATE_N_NITRITE_N', 'FECAL_COLIFORM','TOTAL_COLIFORM'])
        trial
    else:
        trial=pd.DataFrame(req)
    y_pred =pipeline.predict(trial)
    if y_pred==1:
        pred=print('suitable')
    else:
        pred=print('unsuitable')
    return pred

In [166]:
tri1=[786, 34, 98, 8,0.98, 78,0.2, 9.7,8.6]

In [161]:
tri2=[2559.0,25.6,2.1,6.9,461.00000,8.6,0.00,3867.000000,14367.000000]

In [ ]:
tri3=[1060.0,17.2,8.7,7.7,684.97619,1.1,0.00,7384.170354,22.000000]

In [162]:
import pickle

##dump the model into a file
with open("modella.bin", 'wb') as f_out:
    pickle.dump(model, f_out) # write final_model in .bin file
    f_out.close()  # close the file

In [163]:
with open('modella.bin', 'rb') as f_in:
    modell= pickle.load(f_in)

In [164]:
predict_WQ(tri1, modell)

suitable

In [167]:
predict_WQ(tri2, modell)

unsuitable

In [169]:
predict_WQ(tri3, modell)

unsuitable

pip install requests

In [100]:
import requests
url="http://127.0.0.1:9696/"
r=requests.post(url,json=tri1)
r.text.strip()

'<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 3.2 Final//EN">\n<title>405 Method Not Allowed</title>\n<h1>Method Not Allowed</h1>\n<p>The method is not allowed for the requested URL.</p>'

In [ ]:
x_train.describe().T